@page "/st1"

@using DemoApp.WASM.Client.Data
@inject ISingletonService singletonService
@inject IScopedService scopedService
@inject ITransientService transientService

<h1>Blazor Service Lifetimes Page 1</h1>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Singleton Service - @singletonService.ServiceId</li>
            <li>Scoped Service - @scopedService.ServiceId</li>
            <li>Transient Service - @transientService.ServiceId</li>
        </ul>
    </div>
</div>
