@using DemoApp.MVC.RazorComponents

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn abdout <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<component render-mode="ServerPrerendered"
           type="typeof(TestComponent)"/>