@inject IJSRuntime jsRuntime;

<h3>Tests</h3>

@code {
    //var module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/MyComponents/exampleJsInterop.js");

    //public async ValueTask<string> Prompt(string message)
    //{
    //    return await module.InvokeAsync<string>("showPrompt", message);
    //}
}
